<template>
  <h1>Characters</h1>
  <div class="character-grid">
    <div v-for="character in characterData">
      <a :href="character.readOnlyUrl" target="__blank" rel="noopener">
        <h2>{{ character.name }}</h2>
      </a>
      <div>
        <a :href="'https://www.dndbeyond.com/classes/' + character.classes[0].name" target="__blank" rel="noopener">
          <p>{{ character.classes[0].name }}</p>
        </a>
        <p><strong>Level</strong><span>{{ character.classes[0].level }}</span></p>
        <div><strong>AC</strong> {{ character.armorClass }}</div>
        <div><strong>HP</strong> <span>{{ character.hitPointInfo.current }} / {{ character.hitPointInfo.maximum
        }}</span>
        </div>
        <div><strong>Speed</strong> {{ character.speeds[0].distance }} ft</div>
        <div><strong>Speed</strong> {{ character.speeds[0].distance }} ft</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

const characterData = ref<any[]>([]);

async function fetchCharacterData() {
  const response = await fetch('http://localhost:8080/character');
  characterData.value = (await response.json()).foundCharacters.sort((a:any, b:any) => a.name > b.name);
}

onMounted(() => {
  const intervalSeconds = 30000; //30 seconds
  setInterval(() => {
    fetchCharacterData();
  }, intervalSeconds);
  fetchCharacterData();
})
</script>

<style scoped>
h1 {
  margin: 20px;
}

h2 {
  margin: 15px 0 5px 0;
}

.character-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.character-grid>div {
  border: 1.5px solid grey;
  border-radius: 5px;
  padding: 10px 20px 20px 20px;
}

.character-grid>div>div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.character-grid>div>div>* {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>