<script setup lang="ts">
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <HelloWorld />
</template>

<style>
#app {
  font-family: sans-serif;
  color: #2c3e50;
  margin: 60px auto;
  max-width: 1600px;
}
a{
  color:#2c3e50;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
</style>
